<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
  <tr>
    <th>duty</th>
    <th>Details</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.name %></td>
      <td><%= blog.details %></td>
      <td><%= link_to "#{t('view.show')}", blog %></td>
      <td><%= link_to "#{t('view.edit')}", edit_blog_path(blog) %></td>
      <td><%= link_to "#{t('view.destory')}", blog, method: :delete, data: { confirm: "#{t('view.confirm')}" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('view.task_new')}", new_blog_path %>
