<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name, "#{t('view.task_name_search')}" %>
  <%= f.search_field :name_cont, id: 'search_field_name' %>
  <%= f.label :state, "#{t('view.task_state_search')}" %>
  <%= f.select :state_eq, ['未着手','着手中','完了'], include_blank: "指定無し" %>
  <%= f.submit "#{t('view.search')}" %>
  <% end %>

<table>
  <thead>
  <tr>
    <th>duty</th>
    <th>Details</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.name %></td>
      <td><%= blog.details %></td>
      <td><%= blog.expired_at %></td>
      <td><%= blog.state %></td>
      <td><%= link_to "#{t('view.show')}", blog %></td>
      <td><%= link_to "#{t('view.edit')}", edit_blog_path(blog) %></td>
      <td><%= link_to "#{t('view.destory')}", blog, method: :delete, data: { confirm: "#{t('view.confirm')}" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to "#{t('view.task_new')}", new_blog_path %><br>
<%= link_to "#{t('view.sort')}", blogs_path(expired_at: "true") %><br>
<% if params[:q].present?%>
  <%= link_to "#{t('view.index_all')}", blogs_path %><br>
<% end %>