<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="caption text-center">
        <h4><%= t('view.task_show') %></h4>
        <p>
          <strong><%= t('view.name') %></strong>
          <%= @blog.name %>
        </p>
        <p>
          <strong><%= t('view.details') %></strong>
          <%= @blog.details %>
        </p>
        <p>
          <strong><%= t('view.state') %></strong>
          <%= @blog.state %>
        </p>
        <%= link_to "#{t('view.edit')}", edit_blog_path(@blog), class: "btn btn-info" %>
        <%= link_to "#{t('view.back')}", blogs_path, class: "btn btn-info" %>
      </div><!-- /.caption -->
    </div><!-- /.thumbnail -->
  </div><!-- /.col-sm-6.col-md-3 -->
  ...
</div><!-- /.row -->
