<!--<p id="notice"><%#= notice %></p>-->
  <%# if @users.find_by(params[:user_id]).present? %>
<!--    <h3><%#= "#{@users.find_by(params[:user_id]).user.name}""#{t('view.index_task')}" %></h3>-->
  <%# else %>
<!--    <h3><%#= "#{t('view.task_nothing')}" %></h3>-->
  <%# end %>
<!--<div class="container">-->
<!--</div>-->
<!--  <h3><%#= "#{@user.name}""#{t('view.index_task_all')}" %></h3><br>-->
<div class="panel panel-default">
<div class="panel-heading">
<h3><%= "#{t('view.management')}" %></h3>
<%= link_to "#{t('view.user_new')}", new_admin_user_path, class: "btn btn-info btn-lg" %><br>
<!--  <strong><%#= t('view.user_name') %></strong>-->
  <%#= @users.name %>
</div>
<div class="panel-body">
    <%= paginate @users %>
<!--  <strong><%#= t('view.user_email') %></strong>-->
  <%#= @users.email %>
</div>
<div class="panel-footer">
  <table class="table">
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>created_at</th>
      <th>タスク数</th>
      <th>管理者権限</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= l user.created_at, format: :short %></td>
        <td><%= user.blogs.count %></td>
        <td><%= user.administrator %></td>
        <td><%= link_to "#{t('view.show')}", admin_user_path(user), class: "btn btn-primary" %>
        <%= link_to "#{t('view.edit')}", edit_admin_user_path(user),class: "btn btn-success" %>
        <%= link_to "#{t('view.destory')}", admin_user_path(user), method: :delete, data: { confirm: "#{t('view.confirm')}" },class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>
